body {
	margin: 0;
	padding: 0;
	background-image: url(log.jpg);
	background-size: cover;
	font-family: sans-serif; 
	background-position: center;
	background-attachment: fixed;
	height: 100%;
}
div.logo {
	margin: 0px auto;
	width:1000px;
}
.logo {
	background-image: url(logo.jpg) ;
	background-size: cover;
	background-position: 50% 50%;
	height:130px;
	width: 100px;
}

.title>h1 {
	text-align: center;
	margin: 25px 0px 25px 0px;
	color: darkgreen;
}
.loginbox {
	border-radius: 20px;
	margin-top: 100px;
	padding: 55px;
	width:420px;
	height: 420px;
	background: rgba(0,255,0,0.1);
	top: 50%;
	left:50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	border: 1px solid darkgreen;
}
.loginbox>h1 {
	text-align: center;
	color: darkgreen;
}
.loginbox p {
	color: black;
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 10px;

}

::placeholder {
	color: black;
	opacity: 0.4;
}

.loginbox input[type="text"],.loginbox input[type="password"] {
	border: none;
	border-bottom: 2px solid darkgreen;
	height: 30px;	
	background: transparent;
	color: black;
	outline: none;
}

.loginbox input {
	width: 100%;
	margin-bottom: 20px;
}


.loginimage {
	width: 100px;
	height: 100px;
	top: -50px;
	left: calc(50% - 50px);
	position: absolute;
	border-radius: 50%;
}

.loginbox a {
	text-decoration: none;
	color: darkgreen;

}
.loginbox input[type="submit"] {
	background-color: green;
	border: none;
	height: 35px;
	border-radius: 50px;
	outline: none;
}
.loginbox input[type="submit"]:hover {
	background-color: yellow;
	font-size:1.2em;
	cursor: pointer;
}
.viewmap input[type="submit"]{
	background-color: red;
}
